<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Software</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
</head>

<body>


	<div id="root">

		<div class="">
			<div class="crud_header">
				<h1 class="left">Primer Sprint</h1>
				<button class="right addnew" @click="showingModal = true;">Add New</button>

				<div class="fix"></div>
			</div>
			<div>
				<input type="text"  v-model="id">
				<button @click="getOneUser()">Busqueda</button>
			</div>

			<hr>
			<p class="errorMessage" v-if="errorMessage">{{errorMessage}}</p>
			<p class="successMessage" v-if="successMessage">{{successMessage}}</p>

			<table class="list">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>E-mail</th>
					<th>Clave</th>
					<th>Credencial</th>
					<th>IdLista</th>
					<th>IdPrograma</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr v-for="user in users">
					<td>{{user.id}}</td>
					<td>{{user.nombre}}</td>
					<td>{{user.apellido}}</td>
					<td>{{user.correo}}</td>
					<td>{{user.clave}}</td>
					<td>{{user.credencial}}</td>
					<td>{{user.idlista}}</td>
					<td>{{user.idprograma}}</td>

					<td><button @click="showingeditModal = true; selectUser(user)">Edit</button></td>
					<td><button @click="showingdeleteModal = true; selectUser(user)">Delete</button></td>
				</tr>
			</table>
			<div class="fix"></div>
			<div class="modal col-md-6" id="addmodal" v-if="showingModal">
				<div class="modalheading">
					<p class="left">Add new user</p>
					<p class="right close" @click="showingModal = false;">x</p>
					<div class="fix"></div>
				</div>
				<div class="modalbody">
					<div class="modalcontent">
						<table class="form">
							<tr>
								<th>ID</th>
								<th>:</th>
								<td><input type="text" placeholder="id" v-model="newUser.id"></td>
							</tr>
							<tr>
								<th>Nombre</th>
								<th>:</th>
								<td><input type="text" placeholder="Nombre" v-model="newUser.nombre"></td>
							</tr>

							<tr>
								<th>Apellido</th>
								<th>:</th>
								<td><input type="text" placeholder="apellido" v-model="newUser.apellido"></td>
							</tr>
							<tr>
								<th>Correo</th>
								<th>:</th>
								<td><input type="email" placeholder="correo" v-model="newUser.correo"></td>
							</tr>
							<tr>
								<th>Clave</th>
								<th>:</th>
								<td><input type="text" placeholder="clave" v-model="newUser.clave"></td>
							</tr>
							<tr>
								<th>Credencial</th>
								<th>:</th>
								<td><input type="text" placeholder="credencial" v-model="newUser.credencial"></td>
							</tr>
							<tr>
								<th>Id Lista</th>
								<th>:</th>
								<td><input type="text" placeholder="idlista" v-model="newUser.idlista"></td>
							</tr>
							<tr>
								<th>Id Programa</th>
								<th>:</th>
								<td><input type="text" placeholder="idprograma" v-model="newUser.idprograma"></td>
							</tr>
						</table>
						<div class="margin"></div>
						<button class="center" @click="showingModal = false; saveUser();">Add User</button>
					</div>
				</div>
			</div>
			<div class="modal col-md-6" id="editmodal" v-if="showingeditModal">
				<div class="modalheading">
					<p class="left">Edit user</p>
					<p class="right close" @click="showingeditModal = false;">x</p>
					<div class="fix"></div>
				</div>
				<div class="modalbody">
					<div class="modalcontent">
						<table class="form">
							<tr>
								<th>Nombre</th>
								<th>:</th>
								<td><input type="text" placeholder="nombre" v-model="clickedUser.nombre"></td>
							</tr>
							<tr>
								<th>Apellido</th>
								<th>:</th>
								<td><input type="text" placeholder="apellido" v-model="clickedUser.apellido"></td>
							</tr>
							<tr>
								<th>Correo</th>
								<th>:</th>
								<td><input type="email" placeholder="correo" v-model="clickedUser.correo"></td>
							</tr>
							<tr>
								<th>Clave</th>
								<th>:</th>
								<td><input type="text" placeholder="clave" v-model="clickedUser.clave"></td>
							</tr>
							<tr>
								<th>Credencial</th>
								<th>:</th>
								<td><input type="text" placeholder="credencial" v-model="clickedUser.credencial"></td>
							</tr>
							<tr>
								<th>Id Lista</th>
								<th>:</th>
								<td><input type="text" placeholder="idlista" v-model="clickedUser.idlista"></td>
							</tr>
							<tr>
								<th>Id Programa</th>
								<th>:</th>
								<td><input type="text" placeholder="idprograma" v-model="clickedUser.idprograma"></td>
							</tr>
						</table>
						<div class="margin"></div>
						<button class="center" @click="showingeditModal = false; updateUser()">Update User</button>
					</div>
				</div>
			</div>
			<div class="modal col-md-6" id="deletemodal" v-if="showingdeleteModal">
				<div class="modalheading">
					<p class="left">Delete user</p>
					<p class="right close" @click="showingdeleteModal = false;">x</p>
					<div class="fix"></div>
				</div>
				<div class="modalbody">
					<div class="modalcontent">

						<div class="margin"></div>
						<h3 class="center">¿Desea cambiar a inactivo?</h3>
						<div class="margin"></div>
						<h4 class="center">{{clickedUser.username}}</h4>
						<div class="margin"></div>
						<div class="col-md-6 center">
							<button class="left" @click="showingdeleteModal = false; deleteUser()">YES</button>
							<button class="right" @click="showingdeleteModal = false;">NO</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
	<script type="text/javascript" src="app.js"></script>


</body>

</html>